In [0]:
g# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
!mkdir data
!cp './drive/My Drive/datasets/IMDB WIKI Dataset/imdb_0.zip' ./data/
!cp './drive/My Drive/datasets/IMDB WIKI Dataset/imdb_1.zip' ./data/
!cp './drive/My Drive/datasets/IMDB WIKI Dataset/imdb_2.zip' ./data/
!cp './drive/My Drive/datasets/IMDB WIKI Dataset/imdb_3.zip' ./data/
!cp './drive/My Drive/datasets/IMDB WIKI Dataset/imdb_4.zip' ./data/
!cp './drive/My Drive/datasets/IMDB WIKI Dataset/wiki_0.zip' ./data/

In [0]:
!apt-get install unzip
!unzip ./data/imdb_0.zip -d dataset
!unzip ./data/imdb_1.zip -d dataset
!unzip ./data/imdb_2.zip -d dataset
!unzip ./data/imdb_3.zip -d dataset
!unzip ./data/imdb_4.zip -d dataset
!unzip ./data/wiki_0.zip -d dataset

Reading package lists... Done
Building dependency tree
Reading state information... Done
unzip is already the newest version (6.0-21ubuntu1).
0 upgraded, 0 newly installed, 0 to remove and 13 not upgraded.
Archive:  ./data/imdb_0.zip
replace dataset/imdb_0.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: Archive:  ./data/imdb_1.zip
  inflating: dataset/imdb_11.csv
  inflating: dataset/imdb_12.csv
  inflating: dataset/imdb_13.csv
  inflating: dataset/imdb_14.csv
  inflating: dataset/imdb_15.csv
  inflating: dataset/imdb_16.csv
  inflating: dataset/imdb_17.csv
  inflating: dataset/imdb_18.csv     Archive:  ./data/imdb_2.zip
  inflating: dataset/imdb_21.csv
  inflating: dataset/imdb_22.csv
  inflating: dataset/imdb_23.csv
  inflating: dataset/imdb_24.csv
  inflating: dataset/imdb_25.csv
  inflating: dataset/imdb_26.csv
  inflating: dataset/imdb_27.csv
  inflating: dataset/imdb_28.csv
  inflating: dataset/imdb_29.csv
  inflating: dataset/imdb_30.csv
Archive:  ./data/imdb_3.zip
  inflating: dataset/imdb_31.csv
  inflating: dataset/imdb_32.csv
  inflating: dataset/imdb_33.csv
  inflating: dataset/imdb_34.csv
  inflating: dataset/imdb_35.csv
  inflating: dataset/imdb_36.csv
  inflating: dataset/imdb_37.csv
  inflating: dataset/imdb_38.csv
  inflating: dataset/imdb_39.csv
  inflating: dataset/imdb_40.csv

In [0]:
import pandas as pd
import numpy as np

In [0]:
data1 = pd.read_csv('dataset/imdb_0.csv')
data2 = pd.read_csv('dataset/imdb_1.csv')
data3 = pd.read_csv('dataset/imdb_2.csv')

data = pd.concat([data1, data2, data3])

In [0]:
data.head()

,Unnamed: 0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel4091,pixel4092,pixel4093,pixel4094,pixel4095,pixel4096,dob,photo_taken,gender,name
0,0,15,17,16,16,17,19,22,22,14,...,89,79,77,68,66,69,1899-5-10,1968,male,Fred Astaire
1,1,152,171,160,155,163,212,222,216,217,...,99,95,93,92,89,87,1899-5-10,1970,male,Fred Astaire
2,2,103,103,180,211,217,214,213,216,213,...,113,102,96,113,142,134,1899-5-10,1968,male,Fred Astaire
3,3,150,120,122,159,187,197,200,164,139,...,69,32,28,53,83,112,1899-5-10,1968,male,Fred Astaire
4,4,161,163,113,143,115,66,58,28,29,...,219,235,240,237,235,238,1899-5-10,1968,male,Fred Astaire

In [0]:
data.shape

(26603, 4101)

In [0]:
data.columns

Index(['Unnamed: 0', 'pixel1', 'pixel2', 'pixel3', 'pixel4', 'pixel5',
       'pixel6', 'pixel7', 'pixel8', 'pixel9',
       ...
       'pixel4091', 'pixel4092', 'pixel4093', 'pixel4094', 'pixel4095',
       'pixel4096', 'dob', 'photo_taken', 'gender', 'name'],
      dtype='object', length=4101)

In [0]:
data = data.drop(['Unnamed: 0', 'dob', 'photo_taken', 'name'], axis=1)

In [0]:
data.columns

Index(['pixel1', 'pixel2', 'pixel3', 'pixel4', 'pixel5', 'pixel6', 'pixel7',
       'pixel8', 'pixel9', 'pixel10',
       ...
       'pixel4088', 'pixel4089', 'pixel4090', 'pixel4091', 'pixel4092',
       'pixel4093', 'pixel4094', 'pixel4095', 'pixel4096', 'gender'],
      dtype='object', length=4097)

In [0]:
X = data.drop(['gender'], axis=1)
y = data['gender']

In [0]:
X = X.values
y = y.values.reshape(len(y),1)

In [0]:
X.shape

(26603, 4096)

In [0]:
y.shape

(26603, 1)

In [0]:
from sklearn.preprocessing import MinMaxScaler

scale = MinMaxScaler()

X = scale.fit_transform(X)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [0]:
X.shape

(26603, 4096)

In [0]:
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder(handle_unknown='ignore')

y = enc.fit_transform(y).toarray()

In [0]:
from keras.models import Sequential
from keras.layers import Dense, Flatten, MaxPooling2D, Conv2D, Dropout

Using TensorFlow backend.

In [0]:
model = Sequential()

model.add(Dense(1000, activation = "relu", input_dim=4096))
model.add(Dense(128, activation = "relu", input_dim=4096))
model.add(Dense(2, activation = "softmax"))

model.compile(optimizer='rmsprop',loss='categorical_crossentropy',metrics=['accuracy'])

model.fit(X, y, validation_split = 0.2, nb_epoch=10, batch_size=64)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  if __name__ == '__main__':

Train on 21282 samples, validate on 5321 samples
Epoch 1/10
21282/21282 [==============================] - 10s 448us/step - loss: 3.2070 - acc: 0.5463 - val_loss: 0.7001 - val_acc: 0.5587
Epoch 2/10
21282/21282 [==============================] - 9s 407us/step - loss: 0.6403 - acc: 0.6621 - val_loss: 0.6722 - val_acc: 0.5770
Epoch 3/10
21282/21282 [==============================] - 9s 405us/step - loss: 0.6183 - acc: 0.6749 - val_loss: 0.6578 - val_acc: 0.6322
Epoch 4/10
21282/21282 [==============================] - 9s 402us/step - loss: 0.6015 - acc: 0.6865 - val_loss: 0.6976 - val_acc: 0.5845
Epoch 5/10
21282/21282 [==============================] - 9s 406us/step - loss: 0.5926 - acc: 0.6960 - val_loss: 0.7900 - val_acc: 0.5625
Epoch 6/10
21282/21282 [==============================] - 8s 399us/step - loss: 0.5835 - acc: 0.6997 - val_loss: 0.6463 - val_acc: 0.6548
Epoch 7/10
21282/21282 [==============================] - 9s 402us/step - loss: 0.5801 - acc: 0.7053 - val_loss: 0.6924 - val_acc: 0.6362
Epoch 8/10
21282/21282 [==============================] - 9s 403us/step - loss: 0.5748 - acc: 0.7076 - val_loss: 0.6433 - val_acc: 0.6546
Epoch 9/10
21282/21282 [==============================] - 9s 402us/step - loss: 0.5692 - acc: 0.7126 - val_loss: 0.6768 - val_acc: 0.6416
Epoch 10/10
21282/21282 [==============================] - 9s 403us/step - loss: 0.5659 - acc: 0.7139 - val_loss: 0.7490 - val_acc: 0.6300